.MainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.MainContainer h1 {
  color: #213547;
}

.sectionInputInfo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  margin-bottom: 30px;
  gap: 20px;
  justify-content: center;
}

.sectionInputInfo input {
  background-color: #ffffff;
  border: 2px solid #213547;
  color: black;
}

.sectionInputAndTableResaleMaintenance{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionTableResaleMaintenance {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableResaleMaintenance {
  border-color: #213547;
  width: 60%;
}

.sectiontableResaleMaintenance {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 30px;
}

.tableResult {
  border-color: #213547;
  width: 80%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.tableResult > div {
  border-bottom: #213547 1px solid;
  width: 100%;
}

.tableResult > div:last-child {
  border-bottom: none;
}